* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #160647;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #160647;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1100px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
header{
	padding: 0.8% 5%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
header div.left{
 width: 60%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
header div.left h1{
 width: 101px;
}
header div.left h1 a{
display: block;
}
header div.left h1 a img{
 width: 100%;
}
header div.left ul{
 display: flex;
 justify-content: space-between;
}
header div.left ul li{
 margin-right: 47px;
}
header div.left ul li:last-child{
	margin-right: 0;
}
header div.left ul li a{
}
header div.left ul li a:hover{
	border-bottom: 2px solid;
}
header div.right{
}
header div.right ul{
display: flex;
 justify-content: space-between;
 align-items: center;
}
header div.right ul li{
  margin-right: 47px;
}
header div.right ul li:last-child{
	margin-right: 0;
}
header div.right ul li a.button{
 padding: 10px 20px;
 background: #160647;
 border: 1px solid #160647;
 color: #ffffff;
 display: inline-block;
 border-radius: 6px;
}
#spotlight{
 padding: 0.5% 8% 0;
 text-align: center;
 background-image:url(../images/strip.png) ;
 background-repeat: no-repeat;
 background-position: bottom 110px right ;
 background-size: 430px 390px;
}
#spotlight section.wrapper{
}
#spotlight section.top{
}
#spotlight section.top h1{
 font-size: 47px;
 font-weight: 700;
 width: 60%;
 margin: 0 auto;
}
#spotlight section.top p{
 margin-top: 20px;
 font-size: 16px;
 font-weight: 500;
}
#spotlight section.bottom{
}
#spotlight section.bottom ul{
 display: flex;
 justify-content: center;
}
#spotlight section.bottom ul li{
	margin-top: 12px;
 width: 422px;
 margin-right: 20px;
 text-align: start;
}
#spotlight section.bottom ul li:last-child{
	margin-right: 0;
}
#spotlight section.bottom ul li img{
 height: 300px;
 display: inline-block;
}
#spotlight section.bottom ul li h2{
 font-size: 28px;
 font-weight: 600;
 margin-top: 16px;
}
#spotlight section.bottom ul li p{
 margin-top: 12px;
}





